
@{
    ViewBag.Title = "Master_Basic";
}

<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>南山</title>
</head>
<body>
    @RenderBody()
</body>
</html>
